/* header */
*{
    width: 100%;
}
.photonews{
    width: 400px;
}
.navbar ul{
    list-style-type: none ;
    background-color: rgb(41, 29, 2);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar li{
    float: left;
    display: flex;

}

.navbar a{
    color:aliceblue;
    text-decoration: none;
    padding: 15px;
    display:inline;
    width: 100px;
    margin-left: 45px;
    font-size: large;
    font-style:inherit;
}

.navbar a:hover{
    background-color: hsl(0, 43%, 35%);
}

.logo{
    width: 300px;
    margin: 0px;
    padding: 0%;
}

/* main information */
.information{
    display: flex;
    gap: 30px;
    margin-top: 10px;
    background-color: bisque;
    color: rgb(112, 47, 30);
    width: 50%;
    align-items: start;
    margin-left: 60px;
    width: 100px;
}
.information2{
    display: flex;
    gap: 30px;
    margin-top: 10px;
    background-color: bisque;
    color: rgb(112, 47, 30);
    width: 50%;
    margin-left:180px;
    width: 100px;
}
.information3{
    display: flex;
    gap: 30px;
    margin-top: 10px;
    background-color: bisque;
    color: rgb(112, 47, 30);
    width: 50%;
    align-items: start;
    margin-left: 60px;
    width: 100px;
}

.info2{
    margin-left: 20px;
}